#game {
    font-family: consolas;
    font-size: 26px;
}

.col-button {
    width: 3rem;
    height: 3rem;
    margin-left: -0.3rem;
    margin-top: 0.3em
}

#col-1 {
    margin-left: 0.75rem;
}

#field {
    display: inline;
    margin-bottom: 10;
    background-color: #301060;
    color: #bbb
}
